@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/static/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

/* Base template */

nav {
  background: transparent;
  box-shadow: none;
}

.logo {
    position: absolute;
    top: 0;
    font-family: "Nunito", sans-serif !important;
    font-size: 2.1rem;
    font-weight: 800;
    letter-spacing: -2px;
    padding-left: 60px;
}

.logo span {
    color: black;
}

nav ul a {
    font-weight: 500;
}

nav ul a:hover {
    background: none;
}

#mobile-demo {
    background: rgb(185,175,202);
    background: radial-gradient(circle, rgba(185,175,202,1) 0%, rgba(121,82,191,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sign-up {
    display: inline;
    border: 3px solid #e44646;
    border-radius: 30px;
    padding: 8px 10px;
    margin-right: 10px;
    font-weight: 800;
    background: linear-gradient(to right, #ff4000, #ff9500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign-up:hover {
    background: linear-gradient(to right, #ff4000, #ff9500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-img {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 500px;
    width: 500px;
    object-fit: contain;
}

.intro-text {
    position:absolute;
    left: 8%;
    top: 20%;
    width: 30%;
}

.intro-text h2 {
    font-size: 2rem;
}

.intro-text a {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    width: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.social-links li {
  list-style-type: none;
  display: inline;

}

.social-links i {
    font-size: 1.8rem;
    color: #7952bf;
    transition: transform 0.5s;
    margin: 10px 5px;
}

.social-links .fa-facebook:hover {
    transform: scale(1.2);
    color: #036ae3;
}

.social-links .fa-instagram:hover {
    transform: scale(1.2);
    color: #f56a40;
}

.social-links .fa-youtube:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #f00;
}

/* Sign Up */

.general-container {
    height: 80%;
    width: 80%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.55);
    overflow-y: scroll;
}

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent, #7952bf);
    border-radius: 6px;
}

.container-ilustration,
.container-login {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.container-ilustration img {
    width: 80%;
    height: auto;
}

.container-sign h2 {
    color: white;
}

.btn-form {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    width: 150px;
    height: 42px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    transition: transform 0.5s;
    cursor: pointer;
}

.btn-form:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.30);
}

.account {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    min-width: 130px;
}

.account a {
    color: #e44646;
}

.account a:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
}

/* Profile */

/* Modals */
/* Book review and edit modal */
.container-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;
}

.container-modal.show-modal {
    display: flex;
}

.modal-books {
    position: relative;
    height: auto;
    border: 10px solid #7952bf;
    box-shadow: 0 0 0 10px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translateY(-100px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show-modal .modal-books {
    animation: modal .3s;
}

.close-modal {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #7952bf;
  border: 4px solid #7952bf;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: -35px;
  right: -35px;
  font-family: sans-serif;
}

.close-modal:focus {
    background: #fff;
}

#add-book {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 3.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Delete Modal */
.container-modal-delete {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;
}

.container-modal-delete.show-modal-delete {
    display: flex;
}

.modal-books-delete {
    position: relative;
    height: auto;
    border: 10px solid #7952bf;
    box-shadow: 0 0 0 10px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes modal-delete {
    from {
        opacity: 0;
        transform: translateY(-100px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show-modal-delete .modal-books-delete {
    animation: modal-delete .3s;
}

.close-modal-delete {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #7952bf;
  border: 4px solid #7952bf;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: -35px;
  right: -35px;
  font-family: sans-serif;
}

.close-modal-delete:focus {
    background: #fff;
}

/* PROFILE CONTAINER */
#profile-user {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.books,
.book-heading {
    margin: 80px 40px 0 40px;
}

.book {
    height: 250px;
}

.book img {
    height: 180px;
    width: 130px;
    margin-bottom: -5px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
}

.book p {
    max-width: 130px;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0 auto
}

/* View Book */

.book-heading img {
    width: auto;
    max-height: 380px;
    margin: 0 auto;
    display: flex;
}

.book-heading h1 {
    font-size: 2.5rem;
    margin: 0 0 10px 0;
}

.book-heading h3 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
}

.book-heading p {
    font-size: 0.95rem;
    text-align: justify;
}

.book-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.edit-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.edit-buttons ul {
    display: flex;
}

.edit-buttons li {
    width: 120px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.edit-buttons ul li a {
    color: white;
}















@media screen and (min-width: 1400px) {
    .book-heading img {
        max-height: 500px;
    }
    
    .book-summary {
        height: 500px;
    }
}

@media screen and (max-width: 576px) {
    .books {
    margin: 40px 5px;
    }

    .book img {
        height: 150px;
        width: 110px;
    }

    .book p {
        max-width: 110px;
    }

}





.flashes {
    position: relative;
    transform: translatey(100px);
    text-align: center;
    padding: 0 10px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.55);
    z-index: 1;
}

.flashes p {
    line-height: 35px;
    font-size: 1.4rem;
}



