@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/static/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

nav {
  background: transparent;
  box-shadow: none;
}

#logo {
  font-family: "Nunito", sans-serif !important;
  padding-left: 60px;
  font-weight: 800;
  letter-spacing: -2px;
}

#logo span {
  color: black;
}

nav ul a {
  font-weight: 500;
}

nav ul a:hover {
  background: none;
}

.sign-up {
  display: inline;
  border: 3px solid #e44646;
  border-radius: 30px;
  padding: 8px 10px;
  margin-right: 10px;
  font-weight: 800;
  background: linear-gradient(to right, #ff4000, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sign-up:hover {
  background: linear-gradient(to right, #ff4000, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-img {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 500px;
    width: 500px;
    object-fit: contain;
}

.intro-text {
    position:absolute;
    left: 8%;
    top: 20%;
    color: white;
    width: 30%;
}

.intro-text h2 {
    font-size: 2rem;
}

.intro-text a {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    width: 100px;
}

/* Sign Up */

.general-container {
    height: 80%;
    width: 80%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.55);
}

.container-sign {
    height: 100%;
    width: 50%;
    align-items: center;
}

.push-down {
    margin-top: 25%;
}

.container-ilustration {
    height: 100%;
    width: 50%;
    position: relative;
}

.container-ilustration img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-sign h2 {
    color: white;
}

.btn-form {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    width: 150px;
    height: 42px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    transition: transform 0.5s;
    cursor: pointer;
}

.btn-form:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.30);
}

.flashes {
    line-height: 2
}




