{% extends "base.html" %}
{% block content %}
    <div id="modal-review" class="container-modal row">
        <div class="modal-books white col s10 offset-s1 m8 offset-m2 xl4 offset-xl4">
            <form class="row" method="POST" action="{{ url_for('add_list') }}">
    
                <!-- List Name-->
                <div class="input-field col s12">
                    <label for="list_name">List Name:</label>
                    <input id="list_name" name="list_name" type="text" class="validate" minlength="3" maxlength="50" required>
                </div>

                <!-- Image URL's-->
                <div class="input-field col s12 input_fields_wrap">
                        <label for="img_url">Insert image URL</label>
                        <input id="img_url" name="img_url" type="text" class="validate" minlength="5" maxlength="100" required>
                    </div>
                <!-- Add field button-->
                <a class="btn green darken-3 white-text add-field-button">Add Book</a>
                
                <div class="row">
                    <div class="switch col s12">
                        <label class="valign-wrapper" for="share_list">
                            <input type="checkbox" id="share_list" name="share_list">
                            <span class="lever"></span>
                            Share <i class="fas fa-question-circle tooltipped" data-position="bottom" data-tooltip="By choosing to share other users will see your list on the discover page"></i>
                        </label>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="row">
                    <button type="submit" class="btn-form white-text deep-purple">Save  <i class="fas fa-save white-text"></i></button>
                </div>
            </form>
            <!-- Close Modal -->
            <button class="close-modal">x</button>
        </div>
    </div>
        
	<div class="general-container row">
        <div class="container-logos">
            <a href="{{ url_for('home') }}"><h3 class="deep-purple-text logo">books'<span class="black-text">world</span></h3></a>
        </div>
        <button id="add-book"><i class="fas fa-plus-circle deep-purple-text"></i></button>

        <div class="container-book-lists row">
            {% if book_lists|length > 0 %}
            <ul class="collapsible col s12 m10 offset-m1 l8 offset-l2">
                {% for list in book_lists %}
                    <li>
                        <div class="collapsible-header white-text deep-purple lighten-1"><i class="fas fa-caret-down white-text"></i>
                            <p>{{ list.list_name }}</p>
                        </div>
                        <div class="book-list-covers collapsible-body deep-purple lighten-5">
                            {% for book in list.img_url %}
                                <a href="{{ url_for('view_list', list_name=list._id) }}"><img src="{{ book }}" alt=""></a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <div class="welcome-user">
                    <h2>Hello, {{ username.capitalize() }}</h2>
                    <p>Here you can create any list of books you want:</p>
                    <ul>
                        <li>Best books you ever read</li>
                        <li>Books you want to buy</li>
                        <li>Books you want to read in the next year</li>
                        <li>Books you think more people should read</li>
                    </ul>
                    <p>In short, any list you want to create. And if you also want to share it with other users you can do it.</p>
                    <p>Click in the add button on the right top corner and create your first list</p>
                </div>
            {% endif %}
        </div>
	</div>
{% endblock %}