{% extends "base.html" %}
{% block content %}
  
	<div class="general-container row">
        <div class="container-logos">
            <a href="{{ url_for('home') }}"><h3 class="deep-purple-text logo">books'<span class="black-text">world</span></h3></a>
        </div>

        <div class="container-book-lists row">
            <ul class="collapsible col s12 m8 offset-m2">
                {% for list in book_lists %}
                    {% if list.share_list == "on" %}
                        <li>
                            <div class="collapsible-header white-text deep-purple lighten-1"><i class="fas fa-caret-down white-text"></i>
                                <div class="shared-lists">
                                    <h2>{{ list.list_name }}</h2>
                                    <h3>by: {{ list.created_by.capitalize() }}</h3>
                                </div>
                            </div>
                            <div class="book-list-covers collapsible-body deep-purple lighten-5">
                                {% for book in list.img_url %}
                                    <a href="{{ url_for('view_list', list_name=list._id) }}"><img src="{{ book }}" alt="Book cover"></a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
	</div>
{% endblock %}