{% extends "base.html" %}
{% block content %}
  
	<div class="general-container row">
        <h3 class="deep-purple-text logo">books'<span>world</span></h3>
            
        <div class="container-book-lists row">
            <ul class="collapsible col s12 m8 offset-m2">
                {% for list in book_lists %}
                    {% if list.share_list == "on" %}
                        <li>
                            <div class="collapsible-header white-text deep-purple lighten-1"><i class="fas fa-caret-down white-text"></i>
                                <div class="shared-lists">
                                    <h2>{{ list.list_name }}</h2>
                                    <h3>by: {{ list.created_by.capitalize() }}</h3>
                                </div>
                            </div>
                            <div class="book-list-covers collapsible-body deep-purple lighten-5">
                                <img src="{{ list.img_url_1 }}" alt="">
                                <img src="{{ list.img_url_2 }}" alt="">
                                <img src="{{ list.img_url_3 }}" alt="">
                                <img src="{{ list.img_url_4 }}" alt="">
                                <img src="{{ list.img_url_5 }}" alt="">
                                <img src="{{ list.img_url_6 }}" alt="">
                                <img src="{{ list.img_url_7 }}" alt="">
                                <img src="{{ list.img_url_8 }}" alt="">
                                <img src="{{ list.img_url_9 }}" alt="">
                                <img src="{{ list.img_url_10 }}" alt="">
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
	</div>
{% endblock %}