{% extends "base.html" %}
{% block content %}
    <div class="intro-text white-text">
	    <h2>Everything a book lover needs</h2>
        <p>books'<span>world</span> was created for anyone who likes to do a book summary and write down the main insights after read a book and doesn't like to do it in a piece of paper. You can also create wish list and share with other users. </p>
        <a class="sign-up" href="{{ url_for('sign_up') }}">Sign Up</a>
    </div>
    <img class="intro-img hide-on-small-only" src="static/images/read.png" alt="Man on top books changing a lamp that represents the world">
{% endblock %}