{% extends "base.html" %}
{% block content %}
	<div class="general-container row">
        <section>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes">
                            <h5 class="">{{ message }}</h5>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

		<div>
            {{ username.capitalize() }}'s Profile
        </div>
		
	</div>
{% endblock %}