{% extends "base.html" %}
{% block content %}
    <div id="modal-review" class="container-modal row">
            <div class="modal-books col s12 m6 offset-m3">
                <form class="row" method="POST" action="{{ url_for('add_book') }}">
        
                    <!-- Book Name-->
                    <div class="row input-field col s12">
                        <label for="book_name">Book:</label>
                        <input id="book_name" name="book_name" type="text" class="validate" minlength="3" maxlength="50" required>
                    </div>
        
                    <!-- Book Author -->
                    <div class="row input-field col s12">
                        <label for="book_author">Author:</label>
                        <input id="book_author" name="book_author" type="text" class="validate" minlength="3" maxlength="50"  required>
                    </div>
    
                        <!-- Image URL -->
                    <div class="row input-field col s12">
                        <label for="img_url">Insert image URL</label>
                        <input id="img_url" name="img_url" type="text" class="validate" minlength="5" maxlength="100"  required>
                    </div>
    
                    <!-- Review -->
                    <div class="row col s12">
                        <label for="book_review">Your Review</label>
                        <textarea id="book_review" name="book_review" type="text" class="materialize-textarea" minlength="5" maxlength="500" rows="5" required></textarea>
                    </div>

                    <!-- submit button -->
                    <div class="row">
                        <button type="submit" class="btn-form white-text deep-purple">Save  <i class="fas fa-save white-text"></i></button>
                    </div>
                </form>
                <!-- close modal -->
                <button class="close-modal">x</button>
            </div>
        </div>

	<div class="general-container row">
        <section>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes">
                            <h5 class="">{{ message }}</h5>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

		<div id="profile-user" class="deep-purple-text">
            {{ username.capitalize() }}'s Profile
        </div>

        <div class="books">
            <button id="add-book"><i class="fas fa-plus-circle deep-purple-text"></i></button>
            {% for book in books %}
                <div class="book">
                    <img src="{{ book.img_url }}" alt=""><br>
                    <p>{{ book.book_name }}</p> 
                    <p>{{ book.book_author }}</p> 
                    <!-- {{ book.book_review }} -->
                </div>
            {% endfor %}

        
        
	</div>
{% endblock %}