{% extends "base.html" %}
{% block content %}
    <div id="modal-review" class="container-modal row">
        <div class="modal-books white col s10 offset-s1 m8 offset-m2 xl4 offset-xl4">
            <form class="row" method="POST" action="{{ url_for('edit_list', list_id=list._id) }}">
    
                <!-- List Name-->
                <div class="input-field col s12">
                    <label for="list_name">List Name:</label>
                    <input id="list_name" name="list_name" type="text" class="validate" minlength="3" maxlength="50" value="{{ list.list_name }}" required>
                </div>

                <!-- Image URL's-->
                {% for index in range(list.img_url|length) %}
                <div class="input-field col s12 input_fields_wrap">
                    <label for="img_url">Insert image URL</label>
                    <input id="img_url" name="img_url" type="text" class="validate" minlength="5" maxlength="100" value="{{ list.img_url[index] }}" required>
                    <a href="#" class="remove_field btn-small red darken-2">Remove</a>
                </div>
                {% endfor %}
                <!-- Add field button-->
                <a class="btn green darken-3 white-text add-field-button">Add Book</a>
                
                <div class="row">
                    <div class="switch col s12">
                        <label for="share_list">
                            {% if list.share_list == "on" %}
                                <input type="checkbox" id="share_list" name="share_list" checked>
                            {% else %}
                                <input type="checkbox" id="share_list" name="share_list">
                            {% endif %}
                            <span class="lever"></span>
                            Share
                        </label>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="row">
                    <button type="submit" class="btn-form white-text deep-purple">Save  <i class="fas fa-save white-text"></i></button>
                </div>
            </form>
            <!-- Close Modal -->
            <button class="close-modal">x</button>
        </div>
    </div>

    <!-- Modal - Delete Book -->
    <div id="modal-delete" class="container-modal-delete row">
        <div class="modal-delete white ">
            <h3>Delete Book</h3>
            <p>Are you sure you want the full list?</p>
            <div class="delete-buttons">
                <a id="cancel-delete" class="grey darken-1 white-text">Cancel</a>
                <a class="red darken-2 white-text" href="{{ url_for('delete_list', list_id=list._id) }}">Delete <i class="fas fa-trash-alt white-text"></i></a>
            </div>
            <!-- close modal -->
            <button class="close-modal-delete">x</button>
        </div>
    </div>
        
	<div class="general-container row">
        <div class="container-logos">
            <img class="logo-img hide-on-med-and-up" src="static/images/logo1.png" alt="Logo">
            <h3 class="deep-purple-text logo hide-on-small-only">books'<span class="black-text">world</span></h3>
        </div>
            
        <div class="container-book-lists row">
            <div class="push-down col s12 center-align deep-purple-text">
                <h1>{{ list.list_name }}</h1>
                {% if session.user|lower != list.created_by|lower %}
                    <h3>by: {{ list.created_by.capitalize() }}</h3>
                {% endif %}
            </div>
            <div class="row books-list center-align">
                {% for book in list.img_url %}
                    <div class="col s12 m6 l4 xl3">
                        <img src="{{ book }}" alt="Book cover">
                    </div>
                {% endfor %}
            </div>
                <div class="row">
                    <div class="edit-buttons col s12">
                        {% if session.user|lower == list.created_by|lower %}
                            <a class="green darken-3 white-text" href="{{ url_for('best_books', username=session['user']) }}">
                                Done <i class="fas fa-check white-text"></i>
                            </a>
                            <a id="edit-book" class="blue darken-3 white-text">Edit <i class="fas fa-edit white-text"></i></a>
                            <a id="delete-book" class="red darken-2 white-text">Delete <i class="fas fa-trash-alt white-text"></i></a>
                        {% else %}
                            <a class="green darken-3 white-text" href="{{ url_for('discover') }}">
                                Done <i class="fas fa-check white-text"></i>
                            </a>
                        {% endif %} 
                    </div>
                </div>
        </div>
	</div>
{% endblock %}