{% extends "base.html" %}
{% block content %}
    
	<div class="general-container row">
        <h3 class="deep-purple-text logo">books'<span>world</span></h3>

		

        <div class="books row">
            <button id="add-book"><i class="fas fa-plus-circle deep-purple-text"></i></button>
            <div class="book col s6 m4 l3 xl2">
                        <img src="{{ book.img_url }}" alt="">
                        <p>{{ book.book_name }}</p> 
                        <p>{{ book.book_author }}</p> 
                        <p>{{ book.book_review }}</p>
                    </div>
	</div>
{% endblock %}