{% extends "base.html" %}
{% block content %}
    <div id="modal-review" class="container-modal row">
        <div class="modal-books white col s10 offset-s1 m6 offset-m3 xl4 offset-xl4">
            <form class="row" method="POST" action="{{ url_for('add_list') }}">
    
                <!-- List Name-->
                <div class="input-field col s12">
                    <label for="list_name">List Name:</label>
                    <input id="list_name" name="list_name" type="text" class="validate" minlength="3" maxlength="50" required>
                </div>

                <!-- Image URL's-->
                <div class="input-field col s12">
                    <label for="img_url_1">Insert image URL</label>
                    <input id="img_url_1" name="img_url_1" type="text" class="validate" minlength="5" maxlength="100"  required>
                </div>
                <div class="input-field col s12">
                    <label for="img_url_2">Insert image URL</label>
                    <input id="img_url_2" name="img_url_2" type="text" class="validate" minlength="5" maxlength="100"  required>
                </div>
                <div class="input-field col s12">
                    <label for="img_url_3">Insert image URL</label>
                    <input id="img_url_3" name="img_url_3" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="input-field col s12">
                    <label for="img_url4_">Insert image URL</label>
                    <input id="img_url_4" name="img_url_4" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="input-field col s12">
                    <label for="img_url_5">Insert image URL</label>
                    <input id="img_url_5" name="img_url_5" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="input-field col s12">
                    <label for="img_url_6">Insert image URL</label>
                    <input id="img_url_6" name="img_url_6" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="input-field col s12">
                    <label for="img_url_7">Insert image URL</label>
                    <input id="img_url_7" name="img_url_7" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="input-field col s12">
                    <label for="img_url_8">Insert image URL</label>
                    <input id="img_url_8" name="img_url_8" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="input-field col s12">
                    <label for="img_url_9">Insert image URL</label>
                    <input id="img_url_9" name="img_url_9" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="input-field col s12">
                    <label for="img_url_10">Insert image URL</label>
                    <input id="img_url_10" name="img_url_10" type="text" class="validate" minlength="5" maxlength="100">
                </div>
                <div class="row">
                    <div class="switch col s12">
                        <label for="share_list">
                        <input type="checkbox" id="share_list" name="share_list">
                        <span class="lever"></span>
                        Share
                        </label>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="row">
                    <button type="submit" class="btn-form white-text deep-purple">Save  <i class="fas fa-save white-text"></i></button>
                </div>
            </form>
            <!-- Close Modal -->
            <button class="close-modal">x</button>
        </div>
    </div>
        
	<div class="general-container row">
        <h3 class="deep-purple-text logo">books'<span>world</span></h3>
            
        <div class="container-book-lists row">
            <div class="s12 center-align">
                <h1>{{ list.list_name }}</h1>
            </div>
            <div class="row books-list center-align">
                {% for book in list.img_url %}
                    <div class="col s12 m6 l4 xl3">
                        <img src="{{ book }}" alt="Book cover">
                    </div>
                {% endfor %}
            </div>
            
        </div>
	</div>
{% endblock %}